In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
seattle_crime = pd.read_csv('seattle_crime.csv')
# https://data.seattle.gov/Public-Safety/Crime-Data/4fs7-3vj5

# data on crime in Seattle since 1970
# Marijuana became recreational in 2012; medical since '98.

In [8]:
seattle_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515196 entries, 0 to 515195
Data columns (total 11 columns):
Report Number                  515196 non-null int64
Occurred Date                  515194 non-null object
Occurred Time                  515194 non-null float64
Reported Date                  515196 non-null object
Reported Time                  515194 non-null float64
Crime Subcategory              514934 non-null object
Primary Offense Description    515196 non-null object
Precinct                       515190 non-null object
Sector                         511904 non-null object
Beat                           511952 non-null object
Neighborhood                   515196 non-null object
dtypes: float64(2), int64(1), object(8)
memory usage: 43.2+ MB

In [9]:
seattle_crime.tail()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
515191,201900009949,01/08/2019,900.0,01/08/2019,1054.0,THEFT-ALL OTHER,THEFT-OTH,WEST,M,M2,DOWNTOWN COMMERCIAL
515192,201900009960,01/07/2019,1200.0,01/08/2019,1200.0,THEFT-ALL OTHER,THEFT-OTH,NORTH,U,U1,UNIVERSITY
515193,201900009966,01/08/2019,1051.0,01/08/2019,1051.0,ROBBERY-COMMERCIAL,ROBBERY-BUSINESS-BODYFORCE,WEST,M,M2,DOWNTOWN COMMERCIAL
515194,201900009967,01/08/2019,1050.0,01/08/2019,1052.0,THEFT-SHOPLIFT,THEFT-SHOPLIFT,NORTH,B,B1,BALLARD SOUTH
515195,201900009989,01/08/2019,1106.0,01/08/2019,1106.0,THEFT-SHOPLIFT,THEFT-SHOPLIFT,EAST,C,C1,MILLER PARK

In [10]:
seattle_crime.head()

,Report Number,Occurred Date,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood
0,1975000079415,12/16/1975,900.0,12/16/1975,1500.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTH,R,R3,LAKEWOOD/SEWARD PARK
1,1976000069169,01/01/1976,1.0,01/31/1976,2359.0,SEX OFFENSE-OTHER,SEXOFF-INDECENT LIBERTIES,UNKNOWN,NaN,NaN,UNKNOWN
2,1979000049118,01/28/1979,1600.0,02/09/1979,1430.0,CAR PROWL,THEFT-CARPROWL,EAST,G,G2,CENTRAL AREA/SQUIRE PARK
3,19810000305573,08/22/1981,2029.0,08/22/1981,2030.0,HOMICIDE,HOMICIDE-PREMEDITATED-WEAPON,SOUTH,S,S2,BRIGHTON/DUNLAP
4,1981000076456,02/14/1981,2000.0,02/15/1981,435.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTHWEST,W,W3,ROXHILL/WESTWOOD/ARBOR HEIGHTS

In [11]:
date = seattle_crime['Occurred Date']
type(date[0])

str

In [12]:
df = pd.DataFrame(date)
df.info()
# there are two entries in this seattle crime dataset without an occurred date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515196 entries, 0 to 515195
Data columns (total 1 columns):
Occurred Date    515194 non-null object
dtypes: object(1)
memory usage: 3.9+ MB

In [13]:
type(date)

pandas.core.series.Series

In [14]:
occurred_date = pd.to_datetime(date)
seattle_crime['date_occurred'] = occurred_date
# convert 'Occured Date' to a datetime format.  renamed 'date_occurred'

In [15]:
seattle_crime = seattle_crime.drop('Occurred Date', axis=1)
# remove the redundant column

In [16]:
seattle_crime.head()

,Report Number,Occurred Time,Reported Date,Reported Time,Crime Subcategory,Primary Offense Description,Precinct,Sector,Beat,Neighborhood,date_occurred
0,1975000079415,900.0,12/16/1975,1500.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTH,R,R3,LAKEWOOD/SEWARD PARK,1975-12-16
1,1976000069169,1.0,01/31/1976,2359.0,SEX OFFENSE-OTHER,SEXOFF-INDECENT LIBERTIES,UNKNOWN,NaN,NaN,UNKNOWN,1976-01-01
2,1979000049118,1600.0,02/09/1979,1430.0,CAR PROWL,THEFT-CARPROWL,EAST,G,G2,CENTRAL AREA/SQUIRE PARK,1979-01-28
3,19810000305573,2029.0,08/22/1981,2030.0,HOMICIDE,HOMICIDE-PREMEDITATED-WEAPON,SOUTH,S,S2,BRIGHTON/DUNLAP,1981-08-22
4,1981000076456,2000.0,02/15/1981,435.0,BURGLARY-RESIDENTIAL,BURGLARY-FORCE-RES,SOUTHWEST,W,W3,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14

In [17]:
len(seattle_crime)

515196

In [136]:
washington_lic = pd.read_csv('seattle_dis_licenses.csv')
washington_lic.head()

,Tradename,License #,UBI,Street Address,Suite/Rm,City,State,County,ZipCode,PrivDesc,PrivilegeStatus,DateIssued,DayPhone
0,#HASHTAG,414884.0,6.033581e+15,3540 STONE WAY N,,SEATTLE,WA,KING,981038924.0,MARIJUANA RETAILER,ACTIVE (ISSUED),20181129,3.608184e+09
1,112TH STREET CANNABIS,423413.0,6.033492e+15,5809 112TH ST E BLDG B,,PUYALLUP,WA,PIERCE,983734323.0,MARIJUANA RETAILER,ACTIVE (ISSUED),20181222,2.069924e+09
2,2020 SOLUTIONS,415470.0,6.029976e+15,2018 IRON ST STE A,,BELLINGHAM,WA,WHATCOM,982264212.0,MARIJUANA RETAILER,ACTIVE (ISSUED),20180315,3.603939e+09
3,2020 SOLUTIONS,420908.0,6.035503e+15,4770 PACIFIC HWY STE A,,BELLINGHAM,WA,WHATCOM,982260000.0,MARIJUANA RETAILER,ACTIVE (ISSUED),20181004,2.067908e+09
4,2020 SOLUTIONS EDMONDS,364799.0,6.035723e+15,7207 212TH ST SW,,EDMONDS,WA,SNOHOMISH,980207735.0,MARIJUANA RETAILER,ACTIVE (ISSUED),20190117,3.609155e+09

In [147]:
sea_lic = washington_lic.loc[washington_lic['City'] == 'SEATTLE                 ']
# from Washington license data I derive Seattle License info

In [138]:
sea_lic.head()

,Tradename,License #,UBI,Street Address,Suite/Rm,City,State,County,ZipCode,PrivDesc,PrivilegeStatus,DateIssued,DayPhone
0,#HASHTAG,414884.0,6.033581e+15,3540 STONE WAY N,,SEATTLE,WA,KING,981038924.0,MARIJUANA RETAILER,ACTIVE (ISSUED),20181129,3.608184e+09
33,A GREEN LIFE,421755.0,6.032720e+15,9625 15TH AVE SW,,SEATTLE,WA,KING,981062821.0,MARIJUANA RETAILER,CLOSED (PERMANENT),20170107,2.068537e+09
34,A GREEN LIFE,421995.0,6.032720e+15,9823 15TH AVE SW UNIT D2,UNIT D2,SEATTLE,WA,KING,981062847.0,MARIJUANA RETAILER,CLOSED (PERMANENT),20180208,2.068537e+09
35,A GREENER TODAY MARIJUANA,414441.0,6.034501e+15,5209 MARTIN LUTHER KING JR.,WAY S,SEATTLE,WA,KING,981186131.0,MARIJUANA RETAILER,ACTIVE (ISSUED),20181012,4.257736e+09
40,A GREENER TODAY RECREATIONAL,402107.0,6.034501e+15,10522 LAKE CITY WAY NE STE,C103 & C104,SEATTLE,WA,KING,981250000.0,MARIJUANA RETAILER,CLOSED (PERMANENT),20161201,4.257736e+09

In [139]:
washington_lic['City'][0]

'SEATTLE                 '

In [140]:
sea_issue_date = sea_lic['DateIssued']

In [141]:
df = pd.DataFrame(sea_issue_date)

In [142]:
df.sort_values('DateIssued', axis=0)
# can confirm that our Licensing data for Seattle goes back to early 2016 - this is the best source I've found so far.

    DateIssued
431   00000000
459   00000000
117   00000000
634   00000000
451   00000000
246   00000000
450   00000000
606   00000000
329   00000000
81    20150917
328   20160107
528   20160229
512   20160527
92    20160617
718   20161101
169   20161109
461   20161123
40    20161201
187   20161223
33    20170107
646   20170214
568   20170727
540   20170816
189   20171213
102   20171220
34    20180208
686   20180223
152   20180405
250   20180614
93    20180615
..         ...
0     20181129
347   20181130
315   20181204
516   20181206
731   20181207
172   20181211
190   20181211
474   20181213
110   20181215
188   20181219
727   20181220
170   20181225
100   20181229
725   20181231
749   20190102
331   20190102
101   20190108
514   20190108
687   20190116
529   20190116
302   20190125
647   20190126
314   20190205
317   20190205
477   20190216
728   20190216
486   20190223
316   20190226
232   20190307
695   20190314

[87 rows x 1 columns]

In [143]:
# begin mapping our Denver Categories here:
seattle_crime.head()

,Primary Offense Description,Neighborhood,date_occurred,offense_category
0,BURGLARY-FORCE-RES,LAKEWOOD/SEWARD PARK,1975-12-16,burglary
1,SEXOFF-INDECENT LIBERTIES,UNKNOWN,1976-01-01,pub disorder
2,THEFT-CARPROWL,CENTRAL AREA/SQUIRE PARK,1979-01-28,theft from vehicle
3,HOMICIDE-PREMEDITATED-WEAPON,BRIGHTON/DUNLAP,1981-08-22,murder
4,BURGLARY-FORCE-RES,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14,burglary

In [144]:
# remove some columsn that are not useful
seattle_crime = seattle_crime.drop(['Occurred Time','Reported Date','Reported Time','Crime Subcategory','Precinct','Sector','Beat'],axis=1)

KeyError: "['Occurred Time' 'Reported Date' 'Reported Time' 'Crime Subcategory'\n 'Precinct' 'Sector' 'Beat'] not found in axis"

In [83]:
seattle_crime.head()

,Report Number,Primary Offense Description,Neighborhood,date_occurred
0,1975000079415,BURGLARY-FORCE-RES,LAKEWOOD/SEWARD PARK,1975-12-16
1,1976000069169,SEXOFF-INDECENT LIBERTIES,UNKNOWN,1976-01-01
2,1979000049118,THEFT-CARPROWL,CENTRAL AREA/SQUIRE PARK,1979-01-28
3,19810000305573,HOMICIDE-PREMEDITATED-WEAPON,BRIGHTON/DUNLAP,1981-08-22
4,1981000076456,BURGLARY-FORCE-RES,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14

In [77]:
seattle_crime['Crime Subcategory'].unique()

array(['BURGLARY-RESIDENTIAL', 'SEX OFFENSE-OTHER', 'CAR PROWL',
       'HOMICIDE', 'MOTOR VEHICLE THEFT', 'THEFT-ALL OTHER',
       'THEFT-SHOPLIFT', 'DUI', 'AGGRAVATED ASSAULT-DV', 'RAPE',
       'AGGRAVATED ASSAULT', 'ROBBERY-STREET', 'BURGLARY-COMMERCIAL',
       'THEFT-BICYCLE', 'NARCOTIC', 'PROSTITUTION', 'ARSON',
       'PORNOGRAPHY', 'ROBBERY-COMMERCIAL', 'FAMILY OFFENSE-NONVIOLENT',
       'WEAPON', 'THEFT-BUILDING', 'ROBBERY-RESIDENTIAL', 'TRESPASS',
       'LIQUOR LAW VIOLATION', 'DISORDERLY CONDUCT', nan, 'GAMBLE',
       'LOITERING', 'BURGLARY-COMMERCIAL-SECURE PARKING',
       'BURGLARY-RESIDENTIAL-SECURE PARKING'], dtype=object)

In [79]:
len(seattle_crime['Crime Subcategory'].unique())
# only 31 categories, not bad

31

In [84]:
seattle_crime['Primary Offense Description'].unique()

array(['BURGLARY-FORCE-RES', 'SEXOFF-INDECENT LIBERTIES',
       'THEFT-CARPROWL', 'HOMICIDE-PREMEDITATED-WEAPON', 'VEH-THEFT-AUTO',
       'HOMICIDE-PREMEDITATED-GUN', 'THEFT-OTH', 'THEFT-SHOPLIFT',
       'DUI-LIQUOR', 'ASSLT-AGG-DV-BODYFORCE', 'RAPE-STRONGARM',
       'SEXOFF-OTHER', 'ASSLT-AGG-GUN', 'ROBBERY-STREET-BODYFORCE',
       'ASSLT-AGG-POLICE-GUN', 'ASSLT-AGG-WEAPON',
       'BURGLARY-FORCE-NONRES', 'HOMICIDE-PREMEDITATED-BODYFORCE',
       'BURGLARY-NOFORCE-RES', 'VEH-THEFT-MTRCYCLE', 'THEFT-PKPOCKET',
       'THEFT-BICYCLE', 'NARC-POSSESS-MARIJU', 'PROSTITUTION',
       'ARSON-VEHICLE', 'ASSLT-AGG-CHILD-BODYFORCE',
       'PORNOGRAPHY-OBSCENE MATERIAL', 'ROBBERY-STREET-GUN',
       'SEXOFF-PEEPER', 'ROBBERY-BANK-BODYFORCE',
       'ROBBERY-BUSINESS-BODYFORCE', 'ROBBERY-BUSINESS-WEAPON',
       'ASSLT-AGG-DV-WEAPON', 'THEFT-LICENSE PLATE', 'CHILD-OTHER',
       'SEXOFF-OTHER OBJECT', 'ROBBERY-BUSINESS-GUN',
       'ASSLT-AGG-BODYFORCE', 'NARC-POSSESS-COCAINE',
       'ASSLT-AGG-POLICE-BODYFORCE', 'RAPE-OTHER',
       'SEXOFF-INDECENT EXPOSURE', 'CHILD-ABUSED-NOFORCE',
       'NARC-POSSESS-OTHER', 'VEH-THEFT-TRUCK', 'WEAPON-POSSESSION',
       'SEXOFF-SODOMY', 'THEFT-BUILDING', 'ROBBERY-RESIDENCE-GUN',
       'THEFT-AUTOACC', 'TRESPASS', 'THEFT-PRSNATCH',
       'BURGLARY-NOFORCE-NONRES', 'THEFT-COINOP',
       'NARC-EQUIPMENT/PARAPHENALIA', 'NARC-SELL-COCAINE',
       'NARC-POSSESS-METH', 'LIQUOR LAW VIOLATION',
       'HARBOR - BOATING UNDER INFLUENCE', 'WEAPON-DISCHARGE',
       'NARC-SELL-METH', 'NARC-POSSESS-HEROIN',
       'PROSTITUTION-ASSIST-PROMOTE', 'CHILD-ENDANGERMENT',
       'VEH-THEFT-TRAILER', 'ARSON-OTHER', 'ARSON-BUSINESS',
       'WEAPON-UNLAWFUL USE', 'NARC-PRODUCE-MARIJU',
       'ROBBERY-RESIDENCE-BODYFORCE', 'ROBBERY-STREET-WEAPON',
       'NARC-SELL-MARIJU', 'ROBBERY-RESIDENCE-WEAPON',
       'DISORDERLY CONDUCT', 'PROSTITUTION LOITERING', 'BURGLARY-OTHER',
       'NARC-DRUG TRAFFIC LOITERING', 'NARC-SELL-AMPHETAMINE',
       'SEXOFF-LEWD CONDUCT', 'NARC-FORGERY-PRESCRIPTION',
       'WEAPON-CONCEALED', 'CHILD-ABANDON', 'NARC-POSSESS-AMPHETAMINE',
       'NARC-SELL-HEROIN', 'ROBBERY-OTHER', 'DUI-DRUGS',
       'ROBBERY-BANK-OTHER', 'NARC-POSSESS-PILL/TABLET', 'CHILD-NEGLECT',
       'NARC-POSSESS-HALLUCINOGEN', 'ASSLT-AGG-DV-GUN',
       'NARC-FRAUD-PRESCRIPTION', 'NARC-SELL-OTHER',
       'VEH-THEFT-RECREATION VEH', 'NARC-DISTRIBUTE-HALLUCINOGEN',
       'NARC-MANUFACTURE-OTHER', 'ROBBERY-BANK-GUN', 'VEH-THEFT-OTHVEH',
       'CHILD-HARBOR MINOR', 'ARSON-RESIDENCE', 'VEH-THEFT-HVYEQUIP',
       'THEFT-BOAT', 'GAMBLE-BETTING', 'PROSTITUTION PATRONIZING',
       'NARC-POSSESS-BARBITUATE', 'LOITERING', 'RAPE-WEAPON',
       'INTERFERE WITH REPORT-DV', 'NARC-POSSESS-PRESCRIPTION',
       'RAPE-GUN', 'NARC-SELL-PRESCRIPTION', 'NARC-SELL-PILL/TABLET',
       'ASSLT-AGG-POLICE-WEAPON', 'NARC-POSSESS-OPIUM', 'GAMBLE-OPERATE',
       'HOMICIDE-NEG-MANS-GUN', 'NARC-SMUGGLE-MARIJU',
       'NARC-SMUGGLE-COCAINE', 'NARC-POSSESS-SYNTHETIC',
       'NARC-SELL-SYNTHETIC', 'NARC-SELL-HALLUCINOGEN',
       'ROBBERY-BANK-WEAPON', 'HOMICIDE-NEG-MANS-VEHICLE',
       'HUMAN-TRAFFICKING-SEX', 'NARC-SMUGGLE-HEROIN',
       'SEX ABUSE MINOR-COMMERCIAL', 'BURGLARY-SECURE PARKING-NONRES',
       'BURGLARY-SECURE PARKING-RES', 'NARC-SELL-OPIUM',
       'NARC-SMUGGLE-METH', 'NARC-MANUFACTURE-METH', 'THEFT-AUTO PARTS',
       'ADULT-VULNERABLE-PHYSICAL ABUSE', 'THEFT-MAIL', 'ENDANGERMENT',
       'ADULT-VULNERABLE-NEGLECT', 'ADULT-VULNERABLE-FINANCIAL',
       'VEH-THEFT-BUS', 'HOMICIDE-NEG-MANS-BODYFORCE',
       'SEX ABUSE MINOR-PROMO COMMERC', 'NARC-SMUGGLE-OTHER',
       'NARC-SELL-BARBITUATE', 'NARC-MANUFACTURE-HALLUCINOGEN',
       'HOMICIDE-NEG-MANS-WEAPON'], dtype=object)

In [112]:
flipped_sea_dict = {'arson':['ARSON-RESIDENCE','ARSON-OTHER', 'ARSON-BUSINESS','ARSON-VEHICLE',],
                 'murder':['HOMICIDE-NEG-MANS-WEAPON','HOMICIDE-NEG-MANS-BODYFORCE','HOMICIDE-NEG-MANS-VEHICLE','HOMICIDE-NEG-MANS-GUN','HOMICIDE-PREMEDITATED-BODYFORCE','HOMICIDE-PREMEDITATED-GUN','HOMICIDE-PREMEDITATED-WEAPON'],
                 'sexual assault':['RAPE-GUN','RAPE-WEAPON','SEXOFF-SODOMY','RAPE-OTHER','RAPE-OTHER','SEXOFF-OTHER OBJECT','RAPE-STRONGARM'],
                 'robbery':['ROBBERY-BANK-WEAPON','ROBBERY-BANK-GUN','ROBBERY-BANK-OTHER','ROBBERY-OTHER','ROBBERY-RESIDENCE-WEAPON','ROBBERY-RESIDENCE-BODYFORCE', 'ROBBERY-STREET-WEAPON','ROBBERY-RESIDENCE-GUN','ROBBERY-BUSINESS-GUN','ROBBERY-BUSINESS-BODYFORCE', 'ROBBERY-BUSINESS-WEAPON','ROBBERY-BANK-BODYFORCE','ROBBERY-STREET-GUN','ROBBERY-STREET-BODYFORCE'],
                 'other crimes against persons':['ADULT-VULNERABLE-FINANCIAL','ADULT-VULNERABLE-NEGLECT','ADULT-VULNERABLE-PHYSICAL ABUSE','SEXOFF-PEEPER',],
                 'agg assault':['ASSLT-AGG-POLICE-WEAPON','ASSLT-AGG-DV-GUN','ASSLT-AGG-POLICE-BODYFORCE','ASSLT-AGG-BODYFORCE','ASSLT-AGG-DV-WEAPON','ASSLT-AGG-WEAPON','ASSLT-AGG-POLICE-GUN','ASSLT-AGG-GUN','ASSLT-AGG-DV-BODYFORCE'],
                 'pub disorder':['LOITERING','PROSTITUTION PATRONIZING','SEXOFF-LEWD CONDUCT','DISORDERLY CONDUCT', 'PROSTITUTION LOITERING','PROSTITUTION-ASSIST-PROMOTE','SEXOFF-INDECENT EXPOSURE','PORNOGRAPHY-OBSCENE MATERIAL','PROSTITUTION','SEXOFF-OTHER','SEXOFF-INDECENT LIBERTIES'],
                 'burglary':['BURGLARY-SECURE PARKING-RES','BURGLARY-SECURE PARKING-NONRES','BURGLARY-OTHER','BURGLARY-NOFORCE-NONRES','BURGLARY-NOFORCE-RES','BURGLARY-FORCE-NONRES','BURGLARY-FORCE-RES'],
                 'white collar':['GAMBLE-OPERATE','GAMBLE-BETTING','NARC-FORGERY-PRESCRIPTION'],
                 'auto-theft':['THEFT-BOAT','VEH-THEFT-HVYEQUIP','VEH-THEFT-OTHVEH','VEH-THEFT-RECREATION VEH','VEH-THEFT-TRAILER','THEFT-AUTOACC','VEH-THEFT-TRUCK','VEH-THEFT-MTRCYCLE','VEH-THEFT-AUTO'],
                 'theft from vehicle':['VEH-THEFT-BUS','THEFT-LICENSE PLATE','THEFT-CARPROWL'],
                 'larceny':['THEFT-MAIL','THEFT-AUTO PARTS','THEFT-COINOP','THEFT-PRSNATCH','THEFT-BUILDING','THEFT-BICYCLE','THEFT-PKPOCKET','THEFT-SHOPLIFT','THEFT-OTH'],
                 'other':['ENDANGERMENT','HUMAN-TRAFFICKING-SEX','INTERFERE WITH REPORT-DV','WEAPON-CONCEALED','WEAPON-UNLAWFUL USE','WEAPON-DISCHARGE','TRESPASS','WEAPON-POSSESSION'],
                 'child':['SEX ABUSE MINOR-PROMO COMMERC','SEX ABUSE MINOR-COMMERCIAL','NARC-SMUGGLE-HEROIN','CHILD-HARBOR MINOR','CHILD-NEGLECT','CHILD-ABANDON','CHILD-ENDANGERMENT','CHILD-ABUSED-NOFORCE','CHILD-OTHER','ASSLT-AGG-CHILD-BODYFORCE'],
                 'drug-alc':['NARC-MANUFACTURE-HALLUCINOGEN','NARC-SELL-BARBITUATE','NARC-SMUGGLE-OTHER','NARC-MANUFACTURE-METH','NARC-SMUGGLE-METH','NARC-SELL-OPIUM','NARC-SELL-SYNTHETIC', 'NARC-SELL-HALLUCINOGEN','NARC-SMUGGLE-COCAINE', 'NARC-POSSESS-SYNTHETIC','NARC-SMUGGLE-MARIJU','NARC-POSSESS-OPIUM','NARC-SELL-PRESCRIPTION', 'NARC-SELL-PILL/TABLET','NARC-POSSESS-PRESCRIPTION','NARC-POSSESS-BARBITUATE','NARC-MANUFACTURE-OTHER','NARC-DISTRIBUTE-HALLUCINOGEN','NARC-FRAUD-PRESCRIPTION', 'NARC-SELL-OTHER','NARC-POSSESS-HALLUCINOGEN','NARC-POSSESS-PILL/TABLET','NARC-SELL-HEROIN','NARC-POSSESS-AMPHETAMINE','NARC-DRUG TRAFFIC LOITERING', 'NARC-SELL-AMPHETAMINE','NARC-SELL-MARIJU','NARC-PRODUCE-MARIJU','NARC-SELL-METH', 'NARC-POSSESS-HEROIN','HARBOR - BOATING UNDER INFLUENCE','NARC-POSSESS-METH', 'LIQUOR LAW VIOLATION','NARC-SELL-COCAINE','NARC-EQUIPMENT/PARAPHENALIA','NARC-POSSESS-OTHER','NARC-POSSESS-COCAINE','NARC-POSSESS-MARIJU','DUI-LIQUOR','DUI-DRUGS']}

In [113]:
categories = ['arson', 'murder', 'sexual assault', 'robbery', 'other crimes against persons', 'agg assault', 'pub disorder', 'burglary', 'white collar', 'auto-theft', 'traff accident', 'theft from vehicle', 'larceny', 'other', 'child']

In [114]:
sea_crime_dict = {}

In [115]:
for k,v in flipped_sea_dict.items():
    for i in v:
        sea_crime_dict[i] = k
sea_crime_dict

{'ARSON-RESIDENCE': 'arson',
 'ARSON-OTHER': 'arson',
 'ARSON-BUSINESS': 'arson',
 'ARSON-VEHICLE': 'arson',
 'HOMICIDE-NEG-MANS-WEAPON': 'murder',
 'HOMICIDE-NEG-MANS-BODYFORCE': 'murder',
 'HOMICIDE-NEG-MANS-VEHICLE': 'murder',
 'HOMICIDE-NEG-MANS-GUN': 'murder',
 'HOMICIDE-PREMEDITATED-BODYFORCE': 'murder',
 'HOMICIDE-PREMEDITATED-GUN': 'murder',
 'HOMICIDE-PREMEDITATED-WEAPON': 'murder',
 'RAPE-GUN': 'sexual assault',
 'RAPE-WEAPON': 'sexual assault',
 'SEXOFF-SODOMY': 'sexual assault',
 'RAPE-OTHER': 'sexual assault',
 'SEXOFF-OTHER OBJECT': 'sexual assault',
 'RAPE-STRONGARM': 'sexual assault',
 'ROBBERY-BANK-WEAPON': 'robbery',
 'ROBBERY-BANK-GUN': 'robbery',
 'ROBBERY-BANK-OTHER': 'robbery',
 'ROBBERY-OTHER': 'robbery',
 'ROBBERY-RESIDENCE-WEAPON': 'robbery',
 'ROBBERY-RESIDENCE-BODYFORCE': 'robbery',
 'ROBBERY-STREET-WEAPON': 'robbery',
 'ROBBERY-RESIDENCE-GUN': 'robbery',
 'ROBBERY-BUSINESS-GUN': 'robbery',
 'ROBBERY-BUSINESS-BODYFORCE': 'robbery',
 'ROBBERY-BUSINESS-WEAPON': 'robbery',
 'ROBBERY-BANK-BODYFORCE': 'robbery',
 'ROBBERY-STREET-GUN': 'robbery',
 'ROBBERY-STREET-BODYFORCE': 'robbery',
 'ADULT-VULNERABLE-FINANCIAL': 'other crimes against persons',
 'ADULT-VULNERABLE-NEGLECT': 'other crimes against persons',
 'ADULT-VULNERABLE-PHYSICAL ABUSE': 'other crimes against persons',
 'SEXOFF-PEEPER': 'other crimes against persons',
 'ASSLT-AGG-POLICE-WEAPON': 'agg assault',
 'ASSLT-AGG-DV-GUN': 'agg assault',
 'ASSLT-AGG-POLICE-BODYFORCE': 'agg assault',
 'ASSLT-AGG-BODYFORCE': 'agg assault',
 'ASSLT-AGG-DV-WEAPON': 'agg assault',
 'ASSLT-AGG-WEAPON': 'agg assault',
 'ASSLT-AGG-POLICE-GUN': 'agg assault',
 'ASSLT-AGG-GUN': 'agg assault',
 'ASSLT-AGG-DV-BODYFORCE': 'agg assault',
 'LOITERING': 'pub disorder',
 'PROSTITUTION PATRONIZING': 'pub disorder',
 'SEXOFF-LEWD CONDUCT': 'pub disorder',
 'DISORDERLY CONDUCT': 'pub disorder',
 'PROSTITUTION LOITERING': 'pub disorder',
 'PROSTITUTION-ASSIST-PROMOTE': 'pub disorder',
 'SEXOFF-INDECENT EXPOSURE': 'pub disorder',
 'PORNOGRAPHY-OBSCENE MATERIAL': 'pub disorder',
 'PROSTITUTION': 'pub disorder',
 'SEXOFF-OTHER': 'pub disorder',
 'SEXOFF-INDECENT LIBERTIES': 'pub disorder',
 'BURGLARY-SECURE PARKING-RES': 'burglary',
 'BURGLARY-SECURE PARKING-NONRES': 'burglary',
 'BURGLARY-OTHER': 'burglary',
 'BURGLARY-NOFORCE-NONRES': 'burglary',
 'BURGLARY-NOFORCE-RES': 'burglary',
 'BURGLARY-FORCE-NONRES': 'burglary',
 'BURGLARY-FORCE-RES': 'burglary',
 'GAMBLE-OPERATE': 'white collar',
 'GAMBLE-BETTING': 'white collar',
 'NARC-FORGERY-PRESCRIPTION': 'white collar',
 'THEFT-BOAT': 'auto-theft',
 'VEH-THEFT-HVYEQUIP': 'auto-theft',
 'VEH-THEFT-OTHVEH': 'auto-theft',
 'VEH-THEFT-RECREATION VEH': 'auto-theft',
 'VEH-THEFT-TRAILER': 'auto-theft',
 'THEFT-AUTOACC': 'auto-theft',
 'VEH-THEFT-TRUCK': 'auto-theft',
 'VEH-THEFT-MTRCYCLE': 'auto-theft',
 'VEH-THEFT-AUTO': 'auto-theft',
 'VEH-THEFT-BUS': 'theft from vehicle',
 'THEFT-LICENSE PLATE': 'theft from vehicle',
 'THEFT-CARPROWL': 'theft from vehicle',
 'THEFT-MAIL': 'larceny',
 'THEFT-AUTO PARTS': 'larceny',
 'THEFT-COINOP': 'larceny',
 'THEFT-PRSNATCH': 'larceny',
 'THEFT-BUILDING': 'larceny',
 'THEFT-BICYCLE': 'larceny',
 'THEFT-PKPOCKET': 'larceny',
 'THEFT-SHOPLIFT': 'larceny',
 'THEFT-OTH': 'larceny',
 'ENDANGERMENT': 'other',
 'HUMAN-TRAFFICKING-SEX': 'other',
 'INTERFERE WITH REPORT-DV': 'other',
 'WEAPON-CONCEALED': 'other',
 'WEAPON-UNLAWFUL USE': 'other',
 'WEAPON-DISCHARGE': 'other',
 'TRESPASS': 'other',
 'WEAPON-POSSESSION': 'other',
 'SEX ABUSE MINOR-PROMO COMMERC': 'child',
 'SEX ABUSE MINOR-COMMERCIAL': 'child',
 'NARC-SMUGGLE-HEROIN': 'child',
 'CHILD-HARBOR MINOR': 'child',
 'CHILD-NEGLECT': 'child',
 'CHILD-ABANDON': 'child',
 'CHILD-ENDANGERMENT': 'child',
 'CHILD-ABUSED-NOFORCE': 'child',
 'CHILD-OTHER': 'child',
 'ASSLT-AGG-CHILD-BODYFORCE': 'child',
 'NARC-MANUFACTURE-HALLUCINOGEN': 'drug-alc',
 'NARC-SELL-BARBITUATE': 'drug-alc',
 'NARC-SMUGGLE-OTHER': 'drug-alc',
 'NARC-MANUFACTURE-METH': 'drug-alc',
 'NARC-SMUGGLE-METH': 'drug-alc',
 'NARC-SELL-OPIUM': 'drug-alc',
 'NARC-SELL-SYNTHETIC': 'drug-alc',
 'NARC-SELL-HALLUCINOGEN': 'drug-alc',
 'NARC-SMUGGLE-COCAINE': 'drug-alc',
 'NARC-POSSESS-SYNTHETIC': 'drug-alc',
 'NARC-SMUGGLE-MARIJU': 'drug-alc',
 'NARC-POSSESS-OPIUM': 'drug-alc',
 'NARC-SELL-PRESCRIPTION': 'drug-alc',
 'NARC-SELL-PILL/TABLET': 'drug-alc',
 'NARC-POSSESS-PRESCRIPTION': 'drug-alc',
 'NARC-POSSESS-BARBITUATE': 'drug-alc',
 'NARC-MANUFACTURE-OTHER': 'drug-alc',
 'NARC-DISTRIBUTE-HALLUCINOGEN': 'drug-alc',
 'NARC-FRAUD-PRESCRIPTION': 'drug-alc',
 'NARC-SELL-OTHER': 'drug-alc',
 'NARC-POSSESS-HALLUCINOGEN': 'drug-alc',
 'NARC-POSSESS-PILL/TABLET': 'drug-alc',
 'NARC-SELL-HEROIN': 'drug-alc',
 'NARC-POSSESS-AMPHETAMINE': 'drug-alc',
 'NARC-DRUG TRAFFIC LOITERING': 'drug-alc',
 'NARC-SELL-AMPHETAMINE': 'drug-alc',
 'NARC-SELL-MARIJU': 'drug-alc',
 'NARC-PRODUCE-MARIJU': 'drug-alc',
 'NARC-SELL-METH': 'drug-alc',
 'NARC-POSSESS-HEROIN': 'drug-alc',
 'HARBOR - BOATING UNDER INFLUENCE': 'drug-alc',
 'NARC-POSSESS-METH': 'drug-alc',
 'LIQUOR LAW VIOLATION': 'drug-alc',
 'NARC-SELL-COCAINE': 'drug-alc',
 'NARC-EQUIPMENT/PARAPHENALIA': 'drug-alc',
 'NARC-POSSESS-OTHER': 'drug-alc',
 'NARC-POSSESS-COCAINE': 'drug-alc',
 'NARC-POSSESS-MARIJU': 'drug-alc',
 'DUI-LIQUOR': 'drug-alc',
 'DUI-DRUGS': 'drug-alc'}

In [116]:
seattle_crime.head()

,Report Number,Primary Offense Description,Neighborhood,date_occurred,offense_type
0,1975000079415,BURGLARY-FORCE-RES,LAKEWOOD/SEWARD PARK,1975-12-16,burglary
1,1976000069169,SEXOFF-INDECENT LIBERTIES,UNKNOWN,1976-01-01,pub disorder
2,1979000049118,THEFT-CARPROWL,CENTRAL AREA/SQUIRE PARK,1979-01-28,theft from vehicle
3,19810000305573,HOMICIDE-PREMEDITATED-WEAPON,BRIGHTON/DUNLAP,1981-08-22,murder
4,1981000076456,BURGLARY-FORCE-RES,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14,burglary

In [117]:
seattle_crime['offense_type'] = seattle_crime['Primary Offense Description'].apply(lambda x: sea_crime_dict[x])

In [120]:
seattle_crime['offense_category'] = seattle_crime['offense_type']
seattle_crime = seattle_crime.drop('offense_type',axis=1)
seattle_crime.head()

,Report Number,Primary Offense Description,Neighborhood,date_occurred,offense_category
0,1975000079415,BURGLARY-FORCE-RES,LAKEWOOD/SEWARD PARK,1975-12-16,burglary
1,1976000069169,SEXOFF-INDECENT LIBERTIES,UNKNOWN,1976-01-01,pub disorder
2,1979000049118,THEFT-CARPROWL,CENTRAL AREA/SQUIRE PARK,1979-01-28,theft from vehicle
3,19810000305573,HOMICIDE-PREMEDITATED-WEAPON,BRIGHTON/DUNLAP,1981-08-22,murder
4,1981000076456,BURGLARY-FORCE-RES,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14,burglary

In [121]:
seattle_crime['offense_category'].unique()

array(['burglary', 'pub disorder', 'theft from vehicle', 'murder',
       'auto-theft', 'larceny', 'drug-alc', 'agg assault',
       'sexual assault', 'robbery', 'arson', 'child',
       'other crimes against persons', 'other', 'white collar'],
      dtype=object)

In [122]:
seattle_crime.head()

,Report Number,Primary Offense Description,Neighborhood,date_occurred,offense_category
0,1975000079415,BURGLARY-FORCE-RES,LAKEWOOD/SEWARD PARK,1975-12-16,burglary
1,1976000069169,SEXOFF-INDECENT LIBERTIES,UNKNOWN,1976-01-01,pub disorder
2,1979000049118,THEFT-CARPROWL,CENTRAL AREA/SQUIRE PARK,1979-01-28,theft from vehicle
3,19810000305573,HOMICIDE-PREMEDITATED-WEAPON,BRIGHTON/DUNLAP,1981-08-22,murder
4,1981000076456,BURGLARY-FORCE-RES,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14,burglary

In [123]:
seattle_crime = seattle_crime.drop('Report Number',axis=1)
seattle_crime.head()

,Primary Offense Description,Neighborhood,date_occurred,offense_category
0,BURGLARY-FORCE-RES,LAKEWOOD/SEWARD PARK,1975-12-16,burglary
1,SEXOFF-INDECENT LIBERTIES,UNKNOWN,1976-01-01,pub disorder
2,THEFT-CARPROWL,CENTRAL AREA/SQUIRE PARK,1979-01-28,theft from vehicle
3,HOMICIDE-PREMEDITATED-WEAPON,BRIGHTON/DUNLAP,1981-08-22,murder
4,BURGLARY-FORCE-RES,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14,burglary

In [124]:
seattle_crime.to_csv('sea_cleaned_crime.csv')

In [149]:
sea_lic.head()

,Tradename,Street Address,City,County,ZipCode,DateIssued
0,#HASHTAG,3540 STONE WAY N,SEATTLE,KING,981038924.0,20181129
33,A GREEN LIFE,9625 15TH AVE SW,SEATTLE,KING,981062821.0,20170107
34,A GREEN LIFE,9823 15TH AVE SW UNIT D2,SEATTLE,KING,981062847.0,20180208
35,A GREENER TODAY MARIJUANA,5209 MARTIN LUTHER KING JR.,SEATTLE,KING,981186131.0,20181012
40,A GREENER TODAY RECREATIONAL,10522 LAKE CITY WAY NE STE,SEATTLE,KING,981250000.0,20161201

In [148]:
sea_lic = sea_lic.drop(['License #','UBI','Suite/Rm','State','PrivDesc','PrivilegeStatus','DayPhone'],axis=1)

In [150]:
sea_lic = sea_lic.drop(['City','County'],axis=1)

In [151]:
sea_lic.head()

,Tradename,Street Address,ZipCode,DateIssued
0,#HASHTAG,3540 STONE WAY N,981038924.0,20181129
33,A GREEN LIFE,9625 15TH AVE SW,981062821.0,20170107
34,A GREEN LIFE,9823 15TH AVE SW UNIT D2,981062847.0,20180208
35,A GREENER TODAY MARIJUANA,5209 MARTIN LUTHER KING JR.,981186131.0,20181012
40,A GREENER TODAY RECREATIONAL,10522 LAKE CITY WAY NE STE,981250000.0,20161201

In [152]:
sea_lic.to_csv('sea_lic_cleaned.csv')

In [153]:
seattle_crime.head()

,Primary Offense Description,Neighborhood,date_occurred,offense_category
0,BURGLARY-FORCE-RES,LAKEWOOD/SEWARD PARK,1975-12-16,burglary
1,SEXOFF-INDECENT LIBERTIES,UNKNOWN,1976-01-01,pub disorder
2,THEFT-CARPROWL,CENTRAL AREA/SQUIRE PARK,1979-01-28,theft from vehicle
3,HOMICIDE-PREMEDITATED-WEAPON,BRIGHTON/DUNLAP,1981-08-22,murder
4,BURGLARY-FORCE-RES,ROXHILL/WESTWOOD/ARBOR HEIGHTS,1981-02-14,burglary

In [ ]:
sea